.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# dist
dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log*

.make
contracts

# Editor directories and files
**/.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Cypress
cypress.env.json
packages/cypress/videos
packages/cypress/screenshots

# SDK
packages/sdk/package-lock.json