.controller-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2em;
}

.pop-list {
  margin-bottom: 0;
  &.is-open {
    padding: 0;
    margin-top: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    transition: opacity 0.1s ease;
    border-radius: 0 0 0.28571429rem 0.28571429rem;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border-color: #ccd2d8;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
  }
}

.option {
  padding: 0.2em 0.3em;
  &.is-active {
    color: rgba(0, 0, 0, 0.95);
    background: rgba(0, 0, 0, 0.03);
  }
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
