// https://startbootstrap.com/template-overviews/sb-admin/
@import 'sb-admin/sb-admin.scss';
@import '~bootstrap/scss/bootstrap';
@import 'account-selector';
@import 'toggle-button';
@import 'font';

$font-family-base: 'Segoe UI', sans-serif;

#mainNav.navbar-dark {
  .username {
    padding: 0.5rem 1.5rem;
    .welcome {
      color: fade-out($white, 0.5);
      padding-right: 0.5rem;
    }
  }
}

.navbar .navbar-brand {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  img {
    height: 20px;
    display: block;
  }
  .navbar-brand-tile {
    font: normal normal normal 20px/26px Sarabun;
  }
  .navbar-brand-icon {
    font-size: 26px;
    vertical-align: top;
  }
}

#alert-message {
  position: fixed;
  right: 0;
  width: calc(100% - #{$sidenav-base-width});
  z-index: 2030;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}

body.sidenav-toggled {
  #alert-message {
    width: calc(100% - #{$sidenav-collapsed-width});
  }
}

.form-group .numeric input {
  text-align: right;
}

.icon-button {
  cursor: pointer;
}

button.link {
  background: none;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  font-family: arial, sans-serif;
  color: #007bff;
}

button.link:hover {
  text-decoration: underline;
}

button.icon-button {
  color: inherit;
}

div.svg-container {
  position: relative;
}

div.svg-hint {
  position: absolute;
  bottom: 0;
  display: none;
  opacity: 0.75;
  background-color: #666666;
  color: white;
  padding: 5px;
}

.svg-additional {
  position: absolute;
  right: 16px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  background: #202020;
}

.bg-dark {
  background-color: #000000 !important;
}

.navbar-brand img {
  height: 28px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  li.nav-item.active a {
    color: white !important;
    background-color: #962521;
  }
  li.nav-item:hover {
    background-color: #e1372d;
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #efeded;
}

footer.sticky-footer {
  background-color: black;
  small {
    color: #b8b8b8;
    padding: 0 1rem;
    a {
      color: #3191ff;
      &:hover {
        color: #007bff;
      }
    }
  }
}

//.bg-success {
//  background-color: #b70404!important;
//}

.accordion .card-header > div:after {
  content: '\f068';
  font-family: 'Font Awesome 5 Free';
  float: right;
  font-style: normal;
  font-weight: 900;
  text-decoration: inherit;
}

.accordion .card-header.collapsed > div:after {
  content: '\f067';
}

.navbar-nav.ml-auto > .nav-item:last-child {
  margin-right: 33px !important;
}

.navbar-network-info {
  width: 633px;
  height: 65px;
  background: #232323 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 13px 19px;
  p {
    text-align: left;
    font: normal normal normal 15px/19px Sarabun;
    letter-spacing: 0px;
    color: #868e96;
    margin: 0;
  }
  .navbar-network-highlight {
    color: #ffffff;
  }
}

#react-paginate {
  ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }

  .active {
    font-weight: bold;
    font-size: 1rem;
  }
}
